<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2f8534bf-41df-45ba-b4c4-42f862095b8b/resourceGroups/CSharpFormation/providers/Microsoft.Web/sites/dimitri-stock-market-test</ResourceId>
    <ResourceGroup>CSharpFormation</ResourceGroup>
    <ApiResourceId>/subscriptions/2f8534bf-41df-45ba-b4c4-42f862095b8b/resourceGroups/CSharpFormation/providers/Microsoft.ApiManagement/service/StockMarketApiapi/apis/StockMarketApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dimitri-stock-market-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b5c85bee-f53a-43ac-b815-17d9db1b260f</ProjectGuid>
    <MSDeployServiceURL>dimitri-stock-market-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dimitri-stock-market-test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$dimitri-stock-market-test</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>